.jasd-note {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.2));
}

.editor-column {
  border-right: 2px solid #ccc;
  flex: 0 0 auto;
  box-sizing: border-box;
}

.diagram-column {
  box-sizing: border-box;
  flex: 1 1 auto;
  overflow: hidden;
  position: relative;
}

.diagram-wrapper {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

#diagram {
  display: flex;
  justify-content: center;
}